/* ===== HEADER ===== */
header {
     background: #df5110;
     color: white;
     position: sticky;
     top: 0;
     z-index: 1000;
     height: 80px;
     align-items: center;
     display: flex;
}

.nav {
     max-width: 1200px;
     padding: 0 10px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
}
.nav-wrapper{
     display:flex;
     justify-content:center;
     width: 100%;
}
.brand{
     display: flex;
     align-items: center;
     gap: 16px;
     color: white;
     font-size: 24px;
     font-weight: bold;
}
.brand img {
     height: 88px;
     width: auto;
}
/* MENU */
.menu{
     display: flex;
     gap: 26px;
}
.menu a {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     padding: 10px 16px;
     color: white;
     font-weight: 500;
     text-decoration: none;
     font-size: 15px;
     border-radius: 6px;
     cursor: pointer;
     transition: background 0.2s ease;
}
.menu a:hover {
     background: rgba(255, 255, 255, 0.2);
}
.menu a:active {
     background: rgba(255, 255, 255, 0.3);
}
